* {
  margin: 0;
  padding: 0;
}
.active {
  color: rgb(43, 43, 43) !important;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  border-bottom: 2px solid rgb(7, 15, 1);
}

.active:hover {
  color: rgb(15, 14, 16) !important ;
  transition: border-bottom 0.5s ease;
  border: 0;
}
.sign-in-icon {
  max-width: 250px;
}
.profile-pic {
  width: 40px;
  height: 40px;
}

.slider-img {
  width: 300px;
  height: 200px;
}
.slider-img img {
  width: 300px;
  height: 200px;
}


.border-style {
  border-radius: 52px 0 0 0px;
}
.border-style2 {
  border-radius: 0px 0 0 45px;
  height: 350px;
}

@media (max-width: 576px) {
  .border-style2 {
    border-radius: 0px 0 0 45px;
    height: 100%;
  }
}
.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: auto;
  border: 1px solid rebeccapurple;
}
.fixed-image {
  width: 300px;
  height: 200px;
}